@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-nunito: "Nunito", sans-serif;
}

@layer base {
  :root {
    --background: 43 78% 97%;
    --foreground: 139 41% 15%;

    --card: 0 0% 100%;
    --card-foreground: 139 41% 15%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 139 41% 15%;
 
    --primary: 132 49% 24%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 43 67% 91%;
    --secondary-foreground: 139 41% 15%;
 
    --muted: 43 50% 92%;
    --muted-foreground: 108 9% 41%;
 
    --accent: 104 44% 94%;
    --accent-foreground: 132 49% 24%;
 
    --destructive: 0 72% 45%;
    --destructive-foreground: 0 0% 100%;

    --border: 42 31% 82%;
    --input: 42 31% 82%;
    --ring: 132 49% 24%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 45 90% 51%;
    --primary-foreground: 45 90% 98%;
 
    --secondary: 142.1 76.2% 36.3%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 45 90% 51%;
  }
}
 
@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: 'Nunito', sans-serif;
  }
}
